<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphay.boot.attachment.mapper.SysOssBucketMapper">

    <resultMap type="SysOssBucket" id="SysOssBucketResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="deleted" column="deleted"/>
        <result property="ossConfigId" column="oss_config_id"/>
        <result property="bucket" column="bucket"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysOssBucketVo">
        select id,
               create_time,
               create_by,
               update_time,
               update_by,
               deleted,
               oss_config_id,
               bucket,
               remark
        from sys_oss_bucket
    </sql>

</mapper>
